*.user
*.ncb
build
bin
nbproject/
project/
*.a
*.o
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.so*
CPackConfig.cmake
CPackSourceConfig.cmake
*.spec
*.ncb
*.sdf
*.suo
*.sln
*.vcxproj*
*.vcproj
.cproject
.project
*~
!*.exe
*.lastbuildstate
*.unsuccessfulbuild
*.tlog
*.idb
*.cd
cryptopp/
*.tmp
*.bak
thumbs.db
