body
{
	background-color: #3a3a3a;
	font-family: verdana;
	font-size: 10px;
	font-color: #ffffff;
	margin-top: 0
}

a:link, a:visited, a:active
{
	color: #d8d8d8;
	text-decoration: none;
}

a:hover
{
	color: #bababa;
	text-decoration: none;
}

a img
{
	border-style: none;
}

.maintitle
{
	vertical-align: middle;
	font-weight: normal;
	color: #ffffff;
	padding: 8px 0px 8px 5px;
	background-image: url(images/tile_back.gif)
}
